  @font-face {
  font-family: IM Fell;
  src: url('/fonts/IMFellEnglish-Regular.ttf') format('woff2'),
       url('/fonts/IMFellEnglish-Regular.ttf') format('woff');
  font-style: normal;
}
  @font-face {
  font-family: IM Fell;
  src: url('/fonts/IMFellEnglish-Italic.ttf') format('woff2'),
       url('/fonts/IMFellEnglish-Italic.ttf') format('woff');
  font-style: italic;
}

/* LATO */

@font-face {
    font-family: lato;
    src: url('fonts/Lato-Regular.ttf') format('woff2'),
         url('fonts/Lato-Regular.ttf') format('woff');
    font-style: normal;
    font-weight: 400;
  }  
  @font-face {
    font-family: lato;
    src: url('/fonts/Lato-Italic.ttf') format('woff2'),
         url('/fonts/Lato-Italic.ttf') format('woff');
    font-style: italic;
    font-weight: 400;
  }  
  @font-face {
    font-family: lato;
    src: url('fonts/Lato-Bold.ttf') format('woff2'),
         url('fonts/Lato-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
  }  
  @font-face {
    font-family: lato;
    src: url('/fonts/Lato-BoldItalic.ttf') format('woff2'),
         url('/fonts/Lato-BoldItalic.ttf') format('woff');
    font-weight: 700;
    font-style: italic;
  }
   
/* LORA */

@font-face {
    font-family: lora;
    src: url('fonts/Lora-Regular.ttf') format('woff2'),
         url('fonts/Lora-Regular.ttf') format('woff');
    font-style: normal;
    font-weight: 400;
  }  
  @font-face {
    font-family: lora;
    src: url('/fonts/Lora-Italic.ttf') format('woff2'),
         url('/fonts/Lora-Italic.ttf') format('woff');
    font-style: italic;
    font-weight: 400;
  }  
  @font-face {
    font-family: lora;
    src: url('/fonts/Lora-Medium.ttf') format('woff2'),
         url('/fonts/Lora-Medium.ttf') format('woff');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: lora;
    src: url('/fonts/lora-mediumitalic.ttf') format('woff2'),
         url('/fonts/lora-mediumitalic.ttf') format('woff');
    font-style: italic;
    font-weight: 500;
  }
  @font-face {
    font-family: lora;
    src: url('fonts/Lora-Bold.ttf') format('woff2'),
         url('fonts/Lora-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
  }
    @font-face {
    font-family: lora;
    src: url('/fonts/Lora-BoldItalic.ttf') format('woff2'),
         url('/fonts/Lora-BoldItalic.ttf') format('woff');
    font-weight: 700;
     font-style: italic;
  }
