<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- META -->
  <title>{{ config.title }}</title>
  <meta name="description" content="{{ config.description }}">
  <!-- ICON -->
  <link rel="icon" type="image/x-icon" href="/img/favicon-1024.png">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <!-- PRELOAD CSS & JS -->
  <link rel="preload" href="/style.css" as="style" />
  <link rel="stylesheet" href="/style.css">
  <!-- SOCIAL MEDIA-->
  <link rel="me" href="https://mastodon.social/@wordius">

<script defer src="https://app-static.sitesights.io/client.min.js?v=1" data-website-uid="mUicbvElakGuQ8kQkpiLtg"></script>
<script defer type="module">
	MDAL.pageView({
		"Absolute": null,
		"ClientId": null
	});
</script>  
</head>

<body>

  <header>
    <div class="masthead_outer">
        <div class="masthead">
            <a class="banner" href="/">
                <img class="oval" src="/img/site-logo-manderley.JPG"/>
            </a>
            <p class="home-link">
                <a href="/">Manderley</a>
            </p>
        </div>
            <!--<div class="item">
            {% if config.build_search_index -%}
                <div id="on_right">
                    <span id="search-ico" class="ms-Icon--Search"></span>
                </div>
                <div class="search-container">
                    <input id="search" type="search" placeholder="Search as you type...">
                    <div class="search-results">
                        <div class="search-results__header"></div>
                        <ul class="search-results__items"></ul>
                    </div>
                </div>
            {% endif -%}
            </div>-->
    <div class="dropdown">
        <input type="checkbox" id="checkbox_toggle">
        <label for="checkbox_toggle" class="hamburger">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </label>
        <nav aria-label="Main Navigation" role="navigation">
            <ul class="menu">
            {% if config.extra.nav_items %}
            {% for item in config.extra.nav_items %}
                <li><a href="{{ get_url(path=item.url) }}">{{ item.name }}</a></li>
            {% endfor %}
            {% endif %}
            </ul>
        </nav>
    </div>

        </div>
    </header>
<section class="wrapper">
    
        <section class="container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
        </section><!-- container -->

        <!--<section class="message">
            <div class="flex_item">
                <img src="" />
            </div>
            <div class="flex_item words">
                <h3>Download the<br>cheat sheet</h3>
                <p>Some wording here. You can include a maximum of 30 words in your message to our readers. 90 characters</p>
            </div>
        </section>-->

{% include "partials/footer.html" %}

</section><!-- wrapper -->

</body>

</html>